* {
  margin: 0;
  padding: 0;
}
body {
  background-color: blueviolet;
}
.error,.oops{
  font-family: "montserrat";
  text-align: center;
}
.nhdd_logo{
  height:40px;
  width:40px;
  margin-top:7px ;
  margin-left: 30px;
}
.oops{
  font-size:30px
}
.error{
  font-size:25px;
}
.logo__name {
  width: 100%;
  height: 100%;
}
header {
  height: 8vh;
}
.logo__name h1 {
  font-size: 25px;
  color: white;
  display: inline;
  font-family: 'montserrat';
  margin-left: 3%;
  /* padding-top: 10%; */
}
.message {
  float: right;
  margin-right: 2%;
  margin-top: 0.5%;
  background: transparent;
  border: none;
  /* font-size:40px; */
}
#add__expense {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user__panel {
  width: 25%;
  height: 95vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.user__inputarea {
  width: 75%;
  background-color: #bfefff;
  display: flex;
  flex-direction: column;
}
.user__img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 20%;
}
.user__name {
  font-size: 30px;
  font-family: "montserrat";
  text-align: center;
  margin-top: 7%;
}
.first__item {
  margin-top: 20%;
}
.panel__item {
  font-size: 25px;
  font-family: "montserrat";
  margin-top: 3%;
  background-color: white;
  border: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin-right: 7%;
  margin-left: 7%;
}
.panel__item:hover {
  background-color: aliceblue;
}
.expense__btn {
  display: inline;
}
.adjust__size {
  font-size: 22px;
  padding: 15px;
}
.expense__content {
  margin-top: 23%;
  margin-left: 8%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.expense__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "montserrat";
  display: block;
}
.expense__content a:hover {
  color: blue;
}
.vr_content{
  margin-top: 36%;
  margin-left: 8%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.vr_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "montserrat";
  display: block;
}
.show {
  display: block;
}
.expense_report__content {
  margin-top: 27%;
  margin-left: 8%;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.expense_report__content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: "montserrat";
  display: block;
}
.expense_report__content a:hover {
  color: blue;
}
.input__head {
  text-align: center;
  font-size: 30px;
  font-family: "montserrat";
}
.handle__form {
  width: 100%;
  justify-content: center;
}
.adjust__first {
  margin-top: 5%;
}
input {
  margin-left: 15%;
  margin-top: 2%;
  height: 6vh;
  width: 75%;
  font-size: 20px;
  padding-left: 10px;
  background-color: #f5f7f7;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 10px grey;
}
input::placeholder {
  color: black;
  font-family: "montserrat";
  padding-left: 20px;
  font-size: 20px;
}
.BUTTON_KMY {
  box-shadow: 5px 5px 10px grey;
  margin-left: 15%;
  margin-top: 4%;
  background: greenyellow;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  padding: 5px 50px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-family: "montserrat";
  display: block;
}

.BUTTON_KMY:hover {
  border: solid #337fed 1px;
  background: #1e62d0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
.loader__bg {
  position: fixed;
  z-index: 99999;
  background-color: #ffff;
  width: 100%;
  height: 100%;
}
.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  top: 35%;
  left: 40%;
  position: absolute;
  top: calc(50vh-75px);
  left: calc(50vw-75px);
}
.loader:before,
.loader:after {
  content: "";
  border: 1em solid blue;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before {
  animation-delay: 0.5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
select {
  margin-left: 15%;
  margin-top: 2%;
  height: 6vh;
  width: 10%;
  font-size: 20px;
  padding-left: 10px;
  background-color: #f5f7f7;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 10px grey;
}
option {
  font-family: "montserrat";
}
.exp {
  font-family: "montserrat";
  font-size: 25px;
}
td {
  font-family: "montserrat";
  font-size: 20px;
  text-align: center;
  background-color: #f0f2f5;
}
.total {
  background-color: #f0f2f5;
  font-family: "montserrat";
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
